* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rc-slider-track {
    background-color: #653df4;
}

.rc-slider-handle {
    background-color: #653df4;
    border: 0;
}

.rc-slider-dot-active {
    border-color: #653df4;
}

.dash-debug-menu__outer.dash-debug-menu__outer--closed {
    display: none;
}

.dash-debug-menu.dash-debug-menu--closed {
    display: none;

}

.tab-content {
    flex-grow: 1;
}